@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Bellisia';
  src: url('/Bellisia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-Inria: "Inria Serif", serif; 
  --font-Bellisia: "Bellisia", serif;
}

body {
    font-family: var(--font-Inria);
}
